@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #113946;
    color: white;
    font-family: "Roboto", sans-serif;
}

.checker-board {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 40%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: #B99470;
}
.checker-cell {
    border: 2px solid black;
    width: calc(100%/8);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: #503C3C;
}
.white{
    background-color:#B99470;
}

.checker-piece.red{
    width: 100%;
    height:100%;
    background-color: #C40C0C;
    border-radius: 50%;
    pointer-events: none;
    background-image: url("images/regular.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    border: 5px solid black;
}


.checker-piece.white{
    width: 100%;
    height:100%;
    border-radius: 50%;
    pointer-events: none;
    background-image: url("images/regular.png");
    background-color:#F6F5F2;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    border: 5px solid black;
}

.checker-piece.white.king{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("images/crown.svg");
    background-color:#F6F5F2;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    border: 5px solid black;
}

.checker-piece.red.king{
    width: 100%;
    height: 100%;
    background-color:#C40C0C;
    border-radius: 50%;
    background-image: url("images/crown.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    border: 5px solid black;
}