*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checker-board {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 30%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
}
.checker-cell {
    border: 2px solid black;
    width: calc(100%/8);
    aspect-ratio: 1/1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: black;
}
.white{
    background-color: grey;
}

.checker-piece.red{
    width: 100%;
    height:100%;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
}


.checker-piece.white{
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.checker-piece.white.king{
    width: 100%;
    height: 100%;
    background-color:white;
    border-radius: 50%;
    background-image: url("images/crown.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
}

.checker-piece.red.king{
    width: 100%;
    height: 100%;
    background-color:red;
    border-radius: 50%;
    background-image: url("images/crown.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
}